<nav class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/students']" routerLinkActive="active">
                    <i class="fa fa-address-book-o"></i><span>Students</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/faculties']" routerLinkActive="active">
                    <i class="fa fa-user-o"></i><span>Faculties</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/technologies']" routerLinkActive="active">
                    <i class="fa fa-desktop"></i><span>Technologies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/batches']" routerLinkActive="active">
                    <i class="fa fa-calendar-check-o"></i><span>Batches</span>
                </a>
            </li>
        </ul>
    </div>
</nav>