<nav class="navbar navbar-expand-lg bg-white fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand ps-2 text-secondary">
          <button (click)="showMenu = !showMenu; showMenuChange.emit(showMenu);" class="btn btn-primary me-2">
            <i class="fa fa-bars"></i>
          </button>
          <strong>Institute Management</strong>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="btn-group" dropdown placement="bottom right">
                    <a class="c-drop-btn text-primary" id="button-animated" dropdownToggle type="button">
                        <i class="fa fa-user-circle"></i>
                    </a>
                    <ul id="dropdown-animated" *dropdownMenu class="c-dropdown dropdown-menu dropdown-menu-right"
                        role="menu" aria-labelledby="button-animated">
                        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-user"></i>My Profile</a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-lock"></i>Change
                                Password</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
